footer {
    height: auto;
    padding-bottom: 50px;
    background-color: rgb(20, 28, 37);
    max-width: 2500px;
}

/* Stripes */
.stripe1, .stripe2 {
    width: 100%;
    height: 5px;
}

.stripe1 {
    background-color: rgb(255,200,69);
}

.stripe2{
    background-color: rgb(29,79,145);
}


/* Footer logo */
.footerLogo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footerLogo a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
}
    
.footerLogo a img {
    height: 80px;
    object-fit: cover;
}

/* Footer navigation*/
footer ul {
    margin-top: 10px;
    margin-left: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

footer a {
    text-decoration: none;
}

footer h6 {
    width: auto;
    color: rgb(255,200,69);
    margin-left: 8%;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 100;
    text-decoration: none;
}

footer ul a {
    width: auto;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 50;
    font-size: 14px;
}

footer ul a:hover, footer h6:hover {
    opacity: 0.75;
}

/* Buttons */
.footerBlock4 button {
    background-color: transparent;
    border: none;
    margin-left: auto;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
}

.footerBlock4 button:hover {
    cursor: pointer;
}

.footerBlock4 button img {
    height: 60%
}

/* Blocks */
.footerPartition {
    max-width: 1500px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    column-gap: 0;
}

/* Langauge selection */
#languageForm {
    width: 90%;
    display: flex;
    justify-content: flex-end;  
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: auto;
    margin-top: 5px;
    right: 5px;
}

#languageForm label {
    width: 130px;
    margin-right: 10px;
}

#language {
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    border: none;
    background-color: aliceblue;
    width: 40%;
}

/*List items adjust, other alignments*/
.footerHome, .footerNews, .footerContact, .footerAbout{
	text-align: left;
}

.home_item,.news_item,.contact_item, .about_item{
  text-align: left;
	padding-left:40px;
}

/* Media query */
@media only screen and (min-width: 1500px) {
    .footerBlock1, .footerBlock2, .footerBlock3, .footerBlock4 {
        width: calc(100% / 4);
        background-color: transparent;
		display: flex;
  		justify-content: center;
    }

    .footerBlock2 {
        border-left: solid 1px rgb(31, 44, 58);
        border-right: solid 1px rgb(31, 44, 58);
        display: flex;
        flex-wrap: wrap;
    }

    .footerHome, .footerNews, .footerContact, .footerAbout {
        width: 50%;
    }
}

@media only screen and (min-width: 810px) and (max-width: 1499px) {
    .footerBlock1, .footerBlock2, .footerBlock3, .footerBlock4 {
        width: calc(100% / 4);
        background-color: transparent;
    }

    .footerBlock2 {
        border-left: solid 1px rgb(31, 44, 58);
        border-right: solid 1px rgb(31, 44, 58);
    }
}

@media only screen and (max-width: 809px){
    .footerPartition {
        flex-direction: column;
    }

    .footerBlock1, .footerBlock2, .footerBlock3, .footerBlock4 {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .footerBlock1 {
        padding-top: 0;
    }

    .footerBlock2 {
        border-top: solid 1px rgb(31, 44, 58);
        border-bottom: solid 1px rgb(31, 44, 58);
    }
}