.sideMenu {
    position: fixed;
    display: block;
    height: calc(100vh - 80px);
    width: 0;
    max-width: 356px;
    z-index: 5;
    background-color: whitesmoke;
    top: 80px;
    right: 0;
    transition: width ease 250ms;
}

/* Change speed for PC */
@media only screen and (min-width: 810px) {
    .sideMenu {
        transition: width ease 500ms;
    }
}

.sideMenu div {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-family: 'Source Code Pro', monospace;
}

.sideMenu ul {
    margin-top: 10px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.sideMenu a {
    text-decoration: none;
}

.sideMenu h6 {
    width: 70px;
    color: black;
    margin-left: 8%;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 100;
    text-decoration: none;
    border-bottom: solid 2px rgb(173,132,31);
}

.sideMenu ul a {
    width: 100px;
    text-decoration: none;
    color: black;
    font-weight: 50;
    font-size: 14px;
}

.sideMenu ul a:hover, .sideMenu h6:hover {
    opacity: 0.7;
}

/* Slide */
.slide {
    width: 60%;
}